@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #888 !important; /* Use the text color of the input */
  transition: background-color 5000s ease-in-out 0s; /* Ensure the transition lasts a long time */
}

@font-face {
  font-family: "iranSans";
  src: url("../public/fonts/iranSans.ttf") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../public/fonts/Poppins.ttf") format("woff");
  font-style: normal;
  font-display: swap;
}

.googleSvg {
  background-image: url("./assets/google.svg");
}

.MuiTablePagination-actions {
  flex-direction: row-reverse;
}

/* antd table */
.list thead.ant-table-thead tr td,
.list thead.ant-table-thead tr th {
  /* background-color: #1c283d !important; */
  /* color: #ffffff !important; */
  padding: 12px !important;
  font-size: 18px;
}

.ant-table-filter-trigger:hover .ant-table-filter-icon {
  color: red;
}

.list ul.ant-pagination {
  direction: ltr !important;
}

.list thead.ant-table-thead tr td span,
.list thead.ant-table-thead tr th span {
  font-size: 13px;
  margin-inline: 0px !important;
}

.list tbody.ant-table-tbody tr td {
  font-size: 15px !important;
}

.list tbody.ant-table-tbody tr:hover {
  font-size: 15px !important;
  cursor: pointer;
}
.mainlist .ant-table-tbody tr :hover {
  cursor: pointer;
}

.list .ant-table-column-sorters .ant-table-column-sorter-up,
.list .ant-table-column-sorters .ant-table-column-sorter-down {
  color: #b1b7be; /* Change the color to your desired color */
}
.list .ant-table-column-sorters .ant-table-column-sorter-up:hover,
.list .ant-table-column-sorters .ant-table-column-sorter-down:hover {
  color: #fff; /* Change the color to your desired color */
}

.list .ant-table-filter-trigger {
  color: #b1b7be; /* Change the color to your desired color */
}
.list .ant-table-filter-trigger:hover {
  color: #fff; /* Change the color to your desired color */
}

/* CustomPagination.css */
.list .ant-pagination-item,
.list .ant-pagination-prev,
.list .ant-pagination-next,
.list .ant-pagination-jump-prev,
.list .ant-pagination-jump-next {
  background-color: rgb(
    73,
    73,
    73
  ); /* Change the background color to your desired color */
  border-color: #d9d9d9; /* Change the border color to your desired color */
  color: #fff; /* Change the text color to your desired color */
}

.list .ant-pagination-item-active {
  background-color: transparent; /* Change the background color of the active page to your desired color */
  border-color: #fff; /* Change the border color of the active page to your desired color */
  color: #fff; /* Change the text color of the active page to your desired color */
}

.list .ant-pagination {
  background-color: #222a38;
  padding: 20px;
  margin: 0 !important;
  color: white;
}

::-webkit-scrollbar {
  width: 5px;
  height: 15px;
  border-radius: 15px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}
