@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #888 !important; /* Use the text color of the input */
  transition: background-color 5000s ease-in-out 0s; /* Ensure the transition lasts a long time */
}

/* how remove increment and decreament of inputs number in mui  */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@font-face {
  font-family: "iranSans";
  src: url("../public/fonts/iranSans.ttf") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../public/fonts/Poppins.ttf") format("woff");
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "iranSans";
}

.required-field::after {
  content: "*";
  color: red;
}

.googleSvg {
  background-image: url("./assets/google.svg");
}

.MuiTablePagination-actions {
  flex-direction: row-reverse;
}

/* antd table */
.list thead.ant-table-thead tr td,
.list thead.ant-table-thead tr th {
  /* background-color: #1c283d !important; */
  /* color: #ffffff !important; */
  padding: 12px !important;
  font-size: 18px;
}

.ant-table-filter-trigger:hover .ant-table-filter-icon {
  color: red;
}

.list ul.ant-pagination {
  direction: ltr !important;
}

.list thead.ant-table-thead tr td span,
.list thead.ant-table-thead tr th span {
  font-size: 13px;
  margin-inline: 0px !important;
}

.list tbody.ant-table-tbody tr td {
  font-size: 15px !important;
}

.list tbody.ant-table-tbody tr:hover {
  font-size: 15px !important;
  cursor: pointer;
}
.mainlist .ant-table-tbody tr :hover {
  cursor: pointer;
}

.list .ant-table-column-sorters .ant-table-column-sorter-up,
.list .ant-table-column-sorters .ant-table-column-sorter-down {
  color: #b1b7be; /* Change the color to your desired color */
}
.list .ant-table-column-sorters .ant-table-column-sorter-up:hover,
.list .ant-table-column-sorters .ant-table-column-sorter-down:hover {
  color: #fff; /* Change the color to your desired color */
}

.list .ant-table-filter-trigger {
  color: #b1b7be; /* Change the color to your desired color */
}
.list .ant-table-filter-trigger:hover {
  color: #fff; /* Change the color to your desired color */
}

/* CustomPagination.css */
.list .ant-pagination-item,
.list .ant-pagination-prev,
.list .ant-pagination-next,
.list .ant-pagination-jump-prev,
.list .ant-pagination-jump-next {
  background-color: rgb(
    87,
    87,
    87
  ); /* Change the background color to your desired color */
  border-color: #d9d9d9; /* Change the border color to your desired color */
  color: #252525; /* Change the text color to your desired color */
}

.list .ant-pagination-item-active {
  background-color: transparent; /* Change the background color of the active page to your desired color */
  border-color: #b0ccff; /* Change the border color of the active page to your desired color */
  color: #ffffff; /* Change the text color of the active page to your desired color */
}

.ant-pagination-item-active a {
  color: #ffffff !important;
}

.list .ant-pagination {
  background-color: #424c58;
  padding: 20px;
  margin: 0 !important;
  color: rgb(0, 0, 0);
  border-bottom-right-radius: 13px;
  border-bottom-left-radius: 13px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 15px;
  border-radius: 15px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

/* calender */
.react-calendar-datetime-picker .header {
  background-color: #026694 !important; /* Set your desired header color */
  color: #ffffff; /* Set text color for better contrast */
  border-radius: 10px;
  margin-top: 10px;
}

.react-calendar-datetime-picker .calender-modal.is-calender {
  background-color: transparent;
  padding: 10px;
  border: 1px solid gray;
  color: #fff;
  border-radius: 20px;
}

.react-calendar-datetime-picker .daysList {
  color: #fff;
}

.react-calendar-datetime-picker .is-rtl.daysList .daysList-day {
  color: #6b6b6b;
}

.react-calendar-datetime-picker .dtWrapper {
  border-radius: 20px;
}

.react-calendar-datetime-picker .daysList .is-today {
  box-shadow: inset 0 0 0 2px #026694 !important;
}

.react-calendar-datetime-picker .daysList .is-selected-day {
  background-color: #026694 !important;
  color: #fff !important;
}

/* input calender */

.react-calendar-datetime-picker .input-picker .input-picker--input {
  padding: 20px !important;
  text-align: start !important;
}

/* charts */

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 5px !important;
}

.css-1tr866s-MuiChartsAxis-root .MuiChartsAxis-line {
  stroke: #fff;
}

.css-1tr866s-MuiChartsAxis-root tspan {
  background-color: #fff !important;
  stroke: #fff;
  lighting-color: #fff;
}

.css-1mxzueh-MuiResponsiveChart tspan {
  stroke: #fff;
  color: #fff;
  background: #fff;
}
